@charset "utf-8";
/* CSS Document */

html{
	background-color: grey;
	
}

/**************************************************/

header .bord {
	background: linear-gradient(to right, #f6df0a 20%, #e5007d 20%, #ff5000 50%, #00a9aa 50%, #76b82a 80%, #f6df0a 80%);
  position: static;
  content: '';
  height: 5px;
  right: 0;
  left: 0;
  top: 0;
}

header .bord p{
	visibility: hidden;
}

header .navbar {
  position: relative;
  background-color: black;
  height: 50px;
  top: 40px;
  display: flex;
  flex-wrap: wrap; /*allow us to do the line break for collapsing content*/
  align-items: center;
  justify-content: space-between; /* space out brand from logo*/
  padding: $navbar-padding-y $navbar-padding-x;

  /* Because flex properties aren't inherited, we need to redeclare these first
   few properities so that content nested within behave properly.*/
   >.container,
   >.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	
	
  }
}

header .navbar ul{
	position: relative;
	left: 30px;
}

header .navbar ul li .dropdown-menu a:hover{
	opacity: 0.7;
}

header .navbar ul li .dropdown-menu{
	opacity: 0.95;
}

header .navbar img{
	position: relative;
	
}



/**************************************************/

body{
	position: relative;
background-color: #f1f2ec;
left: 10%;
right: 10%;
bottom: 70px;
top: 10px;
width: 80%;

}

#content{
	position: relative;
	top:50px;
}
/**************************************************/


/**************************************************/
footer .bord {
	background: linear-gradient(to right, #f6df0a 20%, #e5007d 20%, #ff5000 50%, #00a9aa 50%, #76b82a 80%, #f6df0a 80%);
  position: static;
  content: '';
  height: 5px;
  right: 0;
  left: 0;
  bottom: 0;
}

footer .bord p{
	visibility: hidden;
}


/**************************************************/